:root {
    --black: #000000;
    --white: #ffffff;
    --Seashell: #FFF6EE;
    --green: #79C14B;
    --blue-dark: #003C51;
    --border-light: #C8C8C8;
    --border-dark:#707070
  }

*{box-sizing:border-box;}
body{font-family: 'SF UI Display'; font-size:16px; font-weight:200; margin:0;}
p, span, samp{font-family: 'SF UI Display'; }
a{text-decoration:none; color:var(--blue-dark);transition:all 0.3s; display:inline-block}
a:hover{color:var(--black)}
.btn-last a,
.btn-Seashell{background:var(--Seashell); color:var(--black); padding:12px 15px; border:1px solid rgba(112,112,112,0.15); border-radius:5px;box-shadow:0px 0px 6px rgba(0,0,0,0.1); text-transform:uppercase;}
.btn-last a:hover,
.btn-Seashell:hover{box-shadow:none; opacity:0.8;}
.btn-white{background:var(--white); color:var(--black); padding:14px 25px; border-radius:5px; text-transform:uppercase; border:1px solid var(--white);}
.btn-white:hover{background:transparent; color:var(--white)}
.btn-black{background:var(--black); color:var(--white); border-radius:5px; text-transform:uppercase; padding:12px 15px; box-shadow:0px 0px 6px rgba(0,0,0,0.1); border:1px solid var(--black);}
.btn-black:hover{background:var(--white); color:var(--black)}
.btn-white-black-hover{background:var(--white); color:var(--black); border-radius:5px; text-transform:uppercase; padding:12px 15px;  border:1px solid var(--black);}
.btn-white-black-hover:hover{background:var(--black); color:var(--white); border-color:var(--black)}

.container{max-width:1640px; width:100%; margin:0 auto; padding:0 15px;}
img{max-width:100%;}
h1, h2, h3, h4, h5, h6{font-family 'SF UI Display'; font-weight:700; margin-bottom:0.4em; margin-top:0px;}
h1 span, h2 span{font-weight:200;}
h1{font-size:60px;}
h2{font-size:60px;}
h3{font-size:35px;}
h4{font-size:30px;}
h5{font-size:25px;}
h6{font-size:18px;}
.flex{display:flex}
.item-center{align-items:center}
.flex-wrap{flex-wrap:wrap;}
.grid{display:grid;}
.gap10{gap:10px}
.gap20{gap:20px}
.gap30{gap:30px}
.gap40{gap:40px}
.gap50{gap:50px}
.gap60{gap:60px}
.gap70{gap:70px}
.auto-grid{grid-template-columns:auto;}
.one-grid{grid-template-columns:1fr}
.two-grid{grid-template-columns:1fr 1fr}
.three-grid{grid-template-columns:1fr 1fr 1fr}
.four-grid{grid-template-columns:1fr 1fr 1fr 1fr}
.border-dark{border-color:var(--border-dark)}
.text-center{text-align:center}
/*------------*/
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="number"],
input[type="tel"],
select,
textarea{padding:12px 15px; font-size:15px; color:#000;border:1px solid var(--border-dark); border-radius:10px}

/* Slider */
.slick-slider
{ position: relative;  display: block;  box-sizing: border-box; -webkit-user-select: none;    -moz-user-select: none;    -ms-user-select: none;   user-select: none;  -webkit-touch-callout: none; -khtml-user-select: none; -ms-touch-action: pan-y;  touch-action: pan-y;    -webkit-tap-highlight-color: transparent;}
.slick-list{    position: relative; display: block;overflow: hidden; margin: 0; padding: 0;}
.slick-list:focus{ outline: none;}
.slick-list.dragging{  cursor: pointer; cursor: hand;}
.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform: translate3d(0, 0, 0);-moz-transform: translate3d(0, 0, 0);        -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
.slick-track{ position: relative; top: 0; left: 0; display: block; margin-left: auto; margin-right: auto;}
.slick-track:before,.slick-track:after{ display: table; content: '';}
.slick-track:after{ clear: both;}
.slick-loading .slick-track{  visibility: hidden;}
.slick-slide{ display: none; float: left;  height: 100%; min-height: 1px;}
[dir='rtl'] .slick-slide{ float: right;}
.slick-slide img{  display: block;}
.slick-slide.slick-loading img{ display: none;}
.slick-slide.dragging img{ pointer-events: none;}
.slick-initialized .slick-slide{  display: block;}
.slick-loading .slick-slide{ visibility: hidden;}
.slick-vertical .slick-slide{ display: block; height: auto; border: 1px solid transparent;}
.slick-arrow.slick-hidden {display: none;}


/*------------header--------------*/
header {  position: relative;   z-index: 2;  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1); padding: 20px 0;}
.menu-box { display: flex;  gap: 20px;    align-items: center;}
.menu-box .menu > ul{display:flex; list-style:none; padding-left:0px;}
.menu-box .menu > ul  li{position:relative;}
.menu-box .menu > ul  li  a{color:var(--black); text-transform:uppercase; padding:10px 15px; font-weight:500;}
.menu-box .menu > ul  li  a:hover{color:var(--blue-dark)}
.menu-box .menu > ul  li ul.sub-menu { list-style:none; padding-left:0px;position: absolute;  background: var(--white);    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.2);  min-width: 150px;  left: 0; top: 100%;  opacity: 0;  visibility: hidden;transition:all 0.3ss}
.menu-box .menu > ul  li:hover ul.sub-menu{opacity:1; visibility:visible}
.menu-box .btn-last a { display: flex; align-items: center;  gap: 5px;}
.header-inner {  gap: 20px;}
.cart-user-box { display: flex;  gap: 20px;}
.cart-box a, .user-box a { width: 43px; height: 43px; display: flex; align-items: center; justify-content: center;   box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); border-radius: 100%;}
.cart-box a img, .user-box a img{transition:all 0.3s}
.cart-box a:hover img, .user-box a:hover img{filter: brightness(0) invert(0);}
.header-search input{background-color:var(--Seashell); background-image:url(../images/search-icon.png);background-position: 98% 50%;    background-repeat: no-repeat;    padding: 15px 15px;}
@media all and (min-width:1200px){
    .hide-desktop{display:none;}
}
@media all and (max-width:1199px){
    
}
/*------main-slider-------*/
.main-slider .bg-image img{width:100%;}
.main-slider .items{position:relatives;}
.main-slider .container { position: absolute;  bottom: 60px; left: 0; right: 0; margin: 0 auto;}
.main-slider .content-box h1{color:var(--white); margin-bottom:30px;}
.main-slider .overlay {  position: absolute; width: 100%; height: 100%; top: 0; left: 0; background: rgb(0, 0, 0);    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8939950980392157) 0%, rgba(255, 255, 255, 0) 100%);}
.main-slider .slick-dots > li { display: inline; margin: 0px 5px;}
.main-slider .slick-dots { list-style: none; padding-left: 0; position: absolute; text-align: right; padding-right: 10%; width: 100%;    bottom: 0;}
.main-slider .slick-dots button {  font-size: 0; width: 13px; height: 13px; padding: 0; border-radius: 100%; border: none; background:var(--white); cursor:pointer}
.main-slider .slick-dots li.slick-active button{width:25px; height:25px;}
.main-slider .slick-dots::before { content: ""; position: absolute; width: 84%; height: 1px; background: white;  left: 0;  top: 50%;}
.main-slider .slick-dots::after { content: ""; position: absolute; width: 8%; height: 1px; background: white;  right: 0;  top: 50%;}
/*-----product-menu------*/
section.product-menu{background:var(--Seashell); padding:41px 0;}
section.product-menu ul { padding-left: 0; justify-content: center; list-style: none; margin: 0;}
section.product-menu ul li{text-align:center}
section.product-menu ul li a icon { width: 119px; height: 119px; background: white; display: inline-flex;align-items: center; justify-content: center; border-radius: 100%;     box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);}
section.product-menu ul li a:hover icon{box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);}
section.product-menu ul li a icon img{height:auto;}
section.product-menu ul li a span{display:block; text-align:center; font-size:25px; text-transform:uppercase; font-weight:200; color:var(--black); margin-top:12px;}
section.product-menu ul li a:hover span{color:var(--blue-dark)}

/*--.featured-items---*/
section.featured-items { padding: 100px 0;}
.featured-items.regular-items-sec{padding-top:0px;}
.closet-gallery-sec .heading-box,
.featured-items .heading-box { display: flex; justify-content: space-between; margin-bottom:60px;     align-items: center;}
.featured-items .heading-box .right-box { display: flex; align-items: center;  gap: 20px;}
.user-rating-box,
.price-sold-items,
.product-title {  display: flex;  justify-content: space-between; align-items:center; gap:15px}
.price-sold-items,
.user-rating-box{margin-top:15px;}
.product-box .product-title .icon-box icon {  width: 43px;  height: 43px; border-radius: 100%; display: inline-flex;    align-items: center;  justify-content: center; box-shadow: 0px 0px 5px rgba(0,0,0,0.2);}
.product-box .product-title .icon-box icon a { display: flex; align-items: center; justify-content: center;}
.product-box .product-title .icon-box { display: flex; align-items: center; gap: 20px;}
.product-box .product-box-outer .price-sold-items h5 {  font-weight: 200;}
.product-box .product-box-outer .price-sold-items p { font-size: 15px;}
.product-box .img-box img { width: 100%; display:block}
.product-box .product-box-outer{border:1px solid var(--border-dark); padding:20px 15px; border-top:none;}
.product-box .product-box-outer .button-row {  display: flex;  justify-content: space-between;}
.featured-items .featured-fillter-box {  background:var(--Seashell); padding: 16px; position: absolute;  right: 0; min-width: 200px; visibility: hidden;opacity: 0;}
.featured-items .filter-box { position: relative;}
.featured-items .filter-box:hover .featured-fillter-box{opacity:1; visibility:visible;}
.featured-items .featured-fillter-box ul { padding-left: 0; list-style: none;}
.featured-items .featured-fillter-box ul li a { padding: 4px 0;}
.user-rating-box .user-box a {  width: auto; height:auto;}
/*---*/
section.closet-gallery-sec{padding:100px 0; background:var(--Seashell);}
.closet-gallery-sec .items-box{background:var(--white); padding:19px 17px; border:1px solid var(--border-dark); border-radius:10px; gap:20px}
.closet-gallery-sec .items-box .content-box { justify-content: space-between;}
.closet-gallery-sec .items-box .info-box {  width: 70%;}
.closet-gallery-sec .items-box .content-box .box a { font-size: 15px;}
.closet-gallery-sec .items-box .content-box .box p { font-size: 12px;}
.closet-gallery-sec .items-box .info-box .button-box a {  width: 100%;  text-align: center;}
.closet-gallery-sec .items-box .info-box .button-box a:hover{background:var(--black);}
/*--*/
section.content-sec{padding:100px 0;}
.content-sec p{font-size:20px; max-width: 780px; margin: 0 auto 30px auto;}

/*----------------*/
footer{background:var(--Seashell);padding:90px 0px 55px 0px; }
footer .logo{text-align:center;}
.newsletter-box {  display: flex;  flex-wrap: wrap;   align-items: center;  justify-content: center; margin-top:40px;}
.newsletter-box form{margin-top:25px;}
.newsletter-box form input[type="email"]{width:435px; line-height:35px;}
.newsletter-box form input[type="submit"]{background:var(--black); color:var(--white); padding:18px 20px; border:1px solid var(--black); font-size:17px;border-radius:5px;margin-left: 10px;cursor:pointer; font-weight:500;}
.newsletter-box form input[type="submit"]:hover{background:var(--white);color:var(--black);}
.newsletter-box h4{width:100%; text-align:center;}
.footer-manu-box {margin-top:55px; }
.footer-manu-box ul {  display: flex;  justify-content: center;  list-style: none;  padding-left: 0;  gap: 30px;}
.footer-manu-box ul li{width:16%}
.footer-manu-box ul li ul{display: block;  text-align: left;}
.footer-manu-box ul li ul li{width:auto;}
.footer-manu-box ul li ul li a{font-size:23px; padding:10px 0}
footer .bottom-row {  display: flex;  justify-content: space-between;  align-items: center; margin-top: 50px;}
.social-box ul {  padding-left: 0; list-style: none; display: flex; gap: 10px; margin:0px;}
.copyright-box p {  font-size: 20px; margin:0;}
footer .bottom-row .language-box select { background: transparent;  min-width: 200px;}


/*---------------*/
@media all and (max-width:1440px){
header .logo-box {  max-width: 220px;}
.header-inner {  justify-content: space-between;}

}
@media all and (max-width:1310px){
    .menu-box .menu > ul li a{font-size:14px; padding:10px;}
    .menu-box{gap:15px;}
    .footer-manu-box ul li{    width: 20%;}
}
@media all and (max-width:1199px){
    .menu-box {  display: none;position: absolute; width: 100%; left: 0; padding: 30px; top: 100%; background: var(--white); }
    .header-search input {    width: 100%;  }
    .header-search{margin-bottom:15px;}
    .cart-user-box{margin-bottom:15px;}
    .cart-user-box{justify-content: center;}
.btn-last { text-align: center;}
.menu-box .btn-last a{display:inline-flex}
    .toggle-box a {  width: 35px;  display: block;  height: 35px; position: relative;  }
    .toggle-box a span { display: block; background:var(--black);   height: 2px;  width: 100%; margin: 8px 0;transition:all 0.3s; position:relative }

    section.product-menu ul li a span{font-size:18px;}
    .main-slider .slick-dots::before{width:80%;}
    .product-box .product-title h5 {  font-size: 18px;    }
    .product-box .product-info .button-row a { font-size: 14px;}
    section.product-menu ul li a icon{width:100px; height:100px;}
    section.product-menu ul{gap:20px;}

}
@media all and (max-width:1199px) and (min-width:992px){
   
    .closet-gallery-sec .items-box .content-box .box h5{font-size:18px;}
    .closet-gallery-sec .items-box .content-box{flex-wrap:wrap;}
    .product-box .product-box-outer .button-row{flex-wrap: wrap; gap:10px}
    .product-box .product-box-outer .button-row a{width:100%; text-align:center;}
    .user-rating-box, .price-sold-items, .product-title { flex-wrap: wrap;  }

}
@media all and (max-width:991px){
    .footer-manu-box h4 { font-size: 25px; }
    .footer-manu-box ul li ul li a{font-size:18px;}
    section.product-menu ul{flex-wrap:wrap;}
    section.closet-gallery-sec .items-row.three-grid,
    section.featured-items .four-grid { grid-template-columns: 1fr 1fr;    }
    footer .bottom-row{flex-wrap:wrap;gap:20px; justify-content:center}
}

@media all and (max-width:767px){
h1, h2{font-size:45px}
.menu-box .menu > ul{display:block; text-align:center}

.closet-gallery-sec .heading-box, .featured-items .heading-box{flex-wrap:wrap;}
.closet-gallery-sec .heading-box h2, .featured-items .heading-box h2 { width: 100%;}
.featured-items .featured-fillter-box{right:auto; left:0px;}
.main-slider .bg-image img{height:450px; object-fit:cover;}
section.closet-gallery-sec .items-row.three-grid,
section.featured-items .four-grid{ grid-template-columns: 1fr ;}
.footer-manu-box ul { flex-wrap: wrap;}
.footer-manu-box ul li { width: calc(50% - 30px); text-align: center;}
.newsletter-box form { display: flex; flex-wrap: wrap; align-items: center;  justify-content: center; gap:15px;}
.newsletter-box form input[type="submit"]{margin-left:0px;}
section.closet-gallery-sec,
section.featured-items{padding:50px 0}
.closet-gallery-sec .heading-box, .featured-items .heading-box{margin-bottom:30px;}
section.content-sec{padding:60px 0}
footer{padding:50px 0 30px 0}
}
@media all and (max-width:480px){
    .newsletter-box form input[type="email"]{width:100%;}
    .footer-manu-box ul li {width:100%;}
    .closet-gallery-sec .items-box .info-box{width:100%;} 
    .closet-gallery-sec .items-box {    flex-wrap: wrap;  justify-content: center; }  
    .closet-gallery-sec .items-box .content-box{display:block;margin-bottom:15px;}

}