:root {
    --black: #000000;
    --white: #ffffff;
    --Seashell: #FFF6EE;
    --green: #79C14B;
    --blue-dark: #003C51;
    --border-light: #C8C8C8;
    --border-dark:#707070
  }

*{box-sizing:border-box;}
body{font-family: 'SF UI Display'; font-size:16px; font-weight:200; margin:0;}
p, span, samp{font-family: 'SF UI Display'; }
a{text-decoration:none; color:var(--blue-dark);transition:all 0.3s; display:inline-block}
a:hover{color:var(--black)}
.btn-last a,
.btn-Seashell{background:var(--Seashell); color:var(--black); padding:12px 15px; border:1px solid rgba(112,112,112,0.15); border-radius:5px;box-shadow:0px 0px 6px rgba(0,0,0,0.1); text-transform:uppercase;}
.btn-last a:hover,
.btn-Seashell:hover{box-shadow:none; opacity:0.8;}
.container{max-width:1640px; width:100%; margin:0 auto;}
img{max-width:100%;}
h1, h2, h3, h4, h5, h6{font-family 'SF UI Display'; font-weight:700;}
h1 span, h2 span{font-weight:200;}
h1{font-size:60px;}
h2{font-size:60px;}
h3{font-size:35px;}
h4{font-size:30px;}
h5{font-size:25px;}
h6{font-size:18px;}
.flex{display:flex}
.item-center{align-items:center}
.flex-wrap{flex-wrap:wrap;}
.grid{display:grid;}
.gap10{gap:10px}
.gap20{gap:20px}
.gap30{gap:30px}
.gap40{gap:40px}
.gap50{gap:50px}
.gap60{gap:60px}
.gap70{gap:70px}
.auto-grid{grid-template-columns:auto;}
.one-grid{grid-template-columns:1fr}
.two-grid{grid-template-columns:1fr 1fr}
.three-grid{grid-template-columns:1fr 1fr 1fr}
.four-grid{grid-template-columns:1fr 1fr 1fr 1fr}
/*------------*/
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="number"],
input[type="tel"],
select,
textarea{padding:12px 15px; font-size:15px; color:#000;border:1px solid var(--border-dark); border-radius:10px}

/* Slider */
.slick-slider
{ position: relative;  display: block;  box-sizing: border-box; -webkit-user-select: none;    -moz-user-select: none;    -ms-user-select: none;   user-select: none;  -webkit-touch-callout: none; -khtml-user-select: none; -ms-touch-action: pan-y;  touch-action: pan-y;    -webkit-tap-highlight-color: transparent;}
.slick-list{    position: relative; display: block;overflow: hidden; margin: 0; padding: 0;}
.slick-list:focus{ outline: none;}
.slick-list.dragging{  cursor: pointer; cursor: hand;}
.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform: translate3d(0, 0, 0);-moz-transform: translate3d(0, 0, 0);        -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
.slick-track{ position: relative; top: 0; left: 0; display: block; margin-left: auto; margin-right: auto;}
.slick-track:before,.slick-track:after{ display: table; content: '';}
.slick-track:after{ clear: both;}
.slick-loading .slick-track{  visibility: hidden;}
.slick-slide{ display: none; float: left;  height: 100%; min-height: 1px;}
[dir='rtl'] .slick-slide{ float: right;}
.slick-slide img{  display: block;}
.slick-slide.slick-loading img{ display: none;}
.slick-slide.dragging img{ pointer-events: none;}
.slick-initialized .slick-slide{  display: block;}
.slick-loading .slick-slide{ visibility: hidden;}
.slick-vertical .slick-slide{ display: block; height: auto; border: 1px solid transparent;}
.slick-arrow.slick-hidden {display: none;}


/*------------header--------------*/
header {  position: relative;   z-index: 2;  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1); padding: 20px 0;}
.menu-box { display: flex;  gap: 20px;    align-items: center;}
.menu-box .menu > ul{display:flex; list-style:none; padding-left:0px;}
.menu-box .menu > ul  li{position:relative;}
.menu-box .menu > ul  li  a{color:var(--black); text-transform:uppercase; padding:10px 15px; font-weight:500;}
.menu-box .menu > ul  li  a:hover{color:var(--blue-dark)}
.menu-box .menu > ul  li ul.sub-menu { list-style:none; padding-left:0px;position: absolute;  background: var(--white);    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.2);  min-width: 150px;  left: 0; top: 100%;  opacity: 0;  visibility: hidden;transition:all 0.3ss}
.menu-box .menu > ul  li:hover ul.sub-menu{opacity:1; visibility:visible}
.menu-box .btn-last a { display: flex; align-items: center;  gap: 5px;}
.cart-user-box { display: flex;  gap: 20px;}
.cart-box a, .user-box a { width: 43px; height: 43px; display: flex; align-items: center; justify-content: center;   box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); border-radius: 100%;}
.cart-box a img, .user-box a img{transition:all 0.3s}
.cart-box a:hover img, .user-box a:hover img{filter: brightness(0) invert(0);}

@media all and (min-width:768px){
    .hide-desktop{display:none;}
}
@media all and (max-width:767px){
    
}
/*-------------*/
.main-slider .items{position:relatives;}
.main-slider .container { position: absolute;  bottom: 0; left: 0; right: 0; margin: 0 auto;}
.main-slider .content-box h1{color:var(--white)}
.main-slider .overlay {  position: absolute; width: 100%; height: 100%; top: 0; left: 0; background: rgb(0, 0, 0);    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8939950980392157) 0%, rgba(255, 255, 255, 0) 100%);}
/*-----------*/
section.product-menu{background:var(--Seashell); padding:41px 0;}
/*---*/
 .product-info .rating-group {  display: inline-flex;  }
 .product-info .rating__icon {  pointer-events: none;  }
 .product-info .rating__input {  position: absolute !important; left: -9999px !important;  }
 .product-info .rating__label {  cursor: pointer; padding: 0 0.1em; font-size: 2rem;  }
 .product-info.rating__icon--star {  color: orange;}
 .product-info .rating__icon--none { color: #eee;  }
 .product-info .rating__input--none:checked +   .rating__label .rating__icon--none {  color: red;  }
 .product-info .rating__input:checked ~   .rating__label .rating__icon--star { color: #ddd;  }
 .product-info .rating-group:hover .rating__label .rating__icon--star { color: orange;  }
 .product-info .rating__input:hover ~   .rating__label .rating__icon--star { color: #ddd; }
 .product-info .rating-group:hover .rating__input--none:not(:hover) +   .rating__label .rating__icon--none { color: #eee;  }
 .product-info .rating__input--none:hover +  .rating__label .rating__icon--none {   color: red;  }